.home .courses-container .courses .courses-listing .courses-listing-item{
            .make-xs-column(12);
            .make-sm-column(6);
            .make-md-column(6);
            .make-lg-column(4);
            margin: 0;
            display: block;
            text-align: left;
            padding: 15px;    
            max-height: none;
}
.courses-container .courses .course .course-image .cover-image{
  padding: 3px;
}
.courses-container .courses .course:hover .cover-image:before, .courses-container .courses .course:focus .cover-image:before{
      -webkit-transition: opacity 0.25s ease-in-out;
    -moz-transition: opacity 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out;
    opacity: 0.6;
}
.courses-container .courses .course:hover .cover-image .learn-more, .courses-container .courses .course:focus .cover-image .learn-more{
      -webkit-transition: opacity 0.25s ease-in-out;
    -moz-transition: opacity 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out;
    opacity: 1;
}

.courses-container .courses .course .course-info .course-name{
    margin-top: 10px;

    .course-organization{
      font-family: @font-family-sans-serif;
      font-weight: 500;
      font-size: 15px;
      color: #222222;
    }
    .course-code {
      font-family: @font-family-sans-serif;
      font-weight: 500;
      font-size: 12px;
      color: #646464;
    }
    .course-title  {
      font-weight: 500;
      font-size: 15px;
      color: #1A69EF;
      margin: 5px 0 15px 0;
      height: 92px;
    }
}







/* ===================/Footer/================================*/
#toplink i {
    font-size: 30px;
}

body #footer i, body #footer #toplink i {
  color: #949494;
  background:none;
}

body #footer #toplink i.fa.fa-arrow-circle-up {
  background:#3B3B3B;
}

body #footer i:hover, body #footer #toplink i:hover {
  color: #fff;
}

#footer {
    background:#3B3B3B;
    color: #7f7f7f;
}
#footer .container{
	padding: 40px 0;
}
#footer #toplink {
    margin-bottom: -30px;
}

#footer .subfooter {
    border-top: 1px dotted #ADADAD;
}

#footer h3 {
    color: #949494;
    font-weight: bold;
}

#footer a {
    color: #949494;
    font-kerning: auto;
    text-decoration: none;
}

#footer a:hover {
    color: #fff;
}

#footer a.android-button {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 12px 24px;
    border-radius: 0px;
    background: #4B4B4B;
    text-shadow: #3B3B3B 1px 1px 0px;
    font: normal normal bold 20px arial;
    color: #7f7f7f;
    text-decoration: none;
}
#footer a.android-button:hover,
#footer a.android-button:focus {
    background: #686868;
    color: #fff;
    text-decoration: none;
}
#footer a.android-button:active {
    background: #686868;
}

#footer .btn-primary {
  color: #fff;
  background-color: #949494;
  border:none;
}
#footer .btn-primary:hover,
#footer .btn-primary:focus,
#footer .btn-primary:active,
#footer .btn-primary.active{
  color: #fff;
  background-color: #686868;
}






body #footer {
    border-top: 2px solid #9AC64A;
}